.section-request-call-back {
  h1 {
    background: $basecolor;
    color: $white;
    line-height: 32px;
    margin-bottom: 0;
    padding: $vert-spacing-unit;
  }
}
.node--webform--full {
  background: $basecolor;
  padding: $vert-spacing-unit $horz-spacing-unit;
  margin-bottom: 18px;
  .form-actions {
    text-align: right;
  }
  .webform-component-textarea label,
  .webform-component-textfield label {
    display: none;
  }
}