.view-blog-posts-by-team {
  .view-user-by-name-block {

    &:after {
      clear: left;
    }
    .views-row {
      h2.field-content {
        margin-bottom: $vert-spacing-unit;
      }
      .views-field-name {
        padding-bottom: $vert-spacing-unit;
      }
      .user-picture{
        display: inline-block;
        float: left;
        padding-right: $horz-spacing-unit*3;
        padding-bottom: $vert-spacing-unit;
        img {
          @include border-radius(200px);
        }
      }
      .user-team {
        padding: $vert-spacing-unit/3 0;
      }

      .user-join {
        padding: $vert-spacing-unit/3 0;
      }
      span.user-label {
        display: inline-block;
        width: 70px;
        font-weight: bold;
      }
      .users-blog-posts {
        clear: both;
        border-top: 1px solid $basecolor;
        padding-top: $vert-spacing-unit;
        margin-top: $vert-spacing-unit*2;
      }

    }
  }
  .view-header {
    padding-top: $vert-spacing-unit;
  }
  .views-row {
    padding-bottom: $vert-spacing-unit*2;
    .field--name-title-field {
      padding: $vert-spacing-unit 0;
      a {
        @extend .beta;
        color: $basecolor;
        text-decoration: none;
        &:hover {
          color: lighten($basecolor, 25%);
        }
      }
    }
  }

}