/*Card layout regions*/
/* All verticals will have the same top fields so position them in here */
.admiral-card-vertical-step-2 {
  span {
    padding-left: 5px;
  }
  label{
    font-weight: bold;
    float:left;
  }
  .main-image-wrapper{
    float:left;
    margin-right: $horz-spacing-unit;
    img {
      @include box-shadow(lighten($black, 20%) 2px 2px 15px);
    }
  }
  .chosen-card{
    display: block;
    margin-bottom: $vert-spacing-unit;
  }
  .color-option{
    width: 100%;
    margin-top: 20px;
  }


  /*   Top Region   */
  .vert-top-region {
    background: $white;
    width:100%;
    margin-top: 10px;
    padding: 5px;
    float:left;

    .price-container {
      .cost-price {
        display:none;
      }
      display: inline-block;
      float: left;
      padding-top: 20px;
      .total-price-inc-vat,
      .total-price-exvat {
        float: left;
      }
      .form-item {
        margin-left: 0;
        label {
          clear: both;
        }
      }
    }



    .field-name-admiral-charity-select,
    .field-name-field-inside-printed-colour {
      width: 25%;
      float: left;
      margin-right: $horz-spacing-unit;
    }
    .form-item-quantity {
      width: 100px;
      float:left;
      margin-right: 25px;
    }
    .cost-price {
      display: none;
    }
    .ui-spinner-buttons {
      left: 84px!important;
    }
  }

  /*   Card Layout Region   */
  .vert-card-layout-region.portrait-card-layouts {
    background: $white;
    clear: both;
    width: 100%;
    padding: 15px;
    .toggle-help-icon {
      clear: both;
      float: right;
      height: 32px;
      width: 32px;
      background: url('../images/help-icon.png');
      cursor: pointer;
      margin-bottom: 25px;
    }
    .toggle-info {
      display: none;
      background: $white;
      border: 3px solid $highlight;
      @include border-radius(12px);
      width: 600px;
      position: absolute;
      right: 270px;
      z-index: 9999;
      padding: 10px;
    }
    .field-name-admiral-card-layout-select {
      background: $grey;
      display: inline-block;
      padding: 35px;
      .form-item {
        .form-radios {
          .description {
            @include box-shadow(lighten(black, 25%) 2px 2px 15px);
            margin-right: 40px;
            margin-bottom: $vert-spacing-unit;
            &:nth-child(4n + 4) {
              margin-right: 0px;
            }
          }
        }
        label {
          display: block;
          width: 90%;
        }
      }
    }

  }
  /*   Left -- Right Panel Region   */
  .vert-left-panel-wrapper,
  .vert-right-panel-wrapper {
    width: 50%;
    height: 762px;
    float: left;
    background: $white;
    text-align: center;
    padding: 0;
  }
  .vert-left-panel-wrapper {
    border-top: 10px solid $basecolor;
    border-left: 20px solid $basecolor;
    border-bottom: 10px solid $basecolor;
    border-right: 2px dashed lighten($highlight, 25%);
  }
  .vert-right-panel-wrapper {
    border-top: 10px solid $basecolor;
    border-right: 20px solid $basecolor;
    border-bottom: 10px solid $basecolor;
    border-left: 2px dashed lighten($highlight, 25%);
  }

  .confirmation-wrapper {
    clear: both;
    background: $white;
    padding: 10px;
    label.option {
      float: none;
    }
    .ticking-box {
      display: block;
      padding: $vert-spacing-unit 10px;
    }
  }


}
