$pt-sans    : 'PT Sans', Helvetica, Arial, sans-serif;
$maven-pro  : 'Maven Pro', Helvetica, Arial, sans-serif;
$kreon      : 'Kreon', Helvetica, Arial, sans-serif;
$opensans   : 'Open Sans', Helvetica, Arial, sans-serif;

$roboto     : 'Roboto Condensed', sans-serif;

$base-font-size: 14px;
$base-line-height: 20px;
