.faq-header,
.faq-qa-description {
  display: none;

}

.faq-question {
  border-bottom: 1px solid $black;
  span {
    display: block;
    margin: 10px 0;
  }
  a {
    color: $black;
    text-decoration: none;
    @include font-size(18px);
    padding-top: 0px;
  }
}

.faq-answer {
  padding: $vert-spacing-unit 5px;
  .field--name-field-question-category {
    display: none;
  }
}