.layout-9 {
  /**********************   Right Panel **************/
  .horz-right-panel-wrapper {

    .location {
      color: $highlight;
      @include font-size(24px);
      text-align: right;
      float: right;
    }



    .field-name-field-greeting {
      width: 718px;
      margin: 170px auto 0 auto;
      border: 2px dashed lighten($highlight, 25%);

      .form-item {
        label {
          color:#b779e8;
          position: absolute;
        }
      }

      .cke_reset {
        border: none;
      }

      .cke_top {
        display: none;
      }

      .cke_contents {
        height: 120px!important;
      }

      .cke_bottom {
        display: none;
      }

      .filter-wrapper {
        display: none;
      }
    }



    .field-name-admiral-right-panel-signature,
    .field-name-admiral-right-panel-main,
    .field-name-admiral-right-panel-centre-image {
      display: none;
    }





    .field-name-admiral-client-address {
      margin: 10px auto 0 auto;
      width: 464px;

      .form-item {
        border: 2px dashed lighten($highlight, 25%);
        label {
          color:#b779e8;
          position: absolute;
        }

      }

      .cke_reset {
        border: none;
      }

      .cke_contents {
        height: 94px!important;
      }

      .cke_bottom {
        display: none;
      }

      .cke_top {
        display: none;
      }

      .filter-wrapper {
        display: none;
      }
    }


    .field-name-admiral-right-panel-left-image {
      width: 188px;
      float:left;
      margin-left: 26px;
      margin-top: 10px;
      .form-item {
        height: 96px;
        border: 2px dashed lighten($highlight, 25%);
        margin: 0 auto;
        label {
          display: none;
        }
        .description {
          @include font-size(8px);
          line-height: 120%;
        }
        .image-preview {
          padding: 0;
        }
        .image-widget {
          .image-widget-data {
            margin-top: 10px;
            font-size: 10px;
            width: 150px;
            padding-left: 10px;

            .form-submit {
              margin-top: 10px;
            }

            .form-file {
              width: 95%;
            }

            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              position:relative;
              margin-top: -90px;
              margin-left: 26px;
            }
          }
        }
      }
    }




    .field-name-admiral-right-panel-right-image {
      width: 188px;
      float:right;
      margin-right: 26px;
      margin-top: 10px;
      .form-item {
        height: 96px;
        border: 2px dashed lighten($highlight, 25%);
        margin: 0 auto;
        label {
          display: none;
        }
        .description {
          @include font-size(8px);
          line-height: 120%;
        }
        .image-preview {
          padding: 0;
        }
        .image-widget {
          .image-widget-data {
            margin-top: 10px;
            font-size: 10px;
            width: 150px;
            padding-left: 10px;

            .form-submit {
              margin-top: 10px;
            }

            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              margin-top: -90px;
              margin-left: 26px;
              position:relative;
            }
          }
        }
      }
    }
  }
}