.l-footer {
  background: rgba($footer-bkg, 0.7);
}
.block--system-main-menu--2,
.block--menu-menu-social-connection--2,
.block--menu-menu-more-info,
.block--menu-menu-corporate {
  padding-top: $vert-spacing-unit;
  padding-left: $horz-spacing-unit;
  .block__title {
    @include font-size(26px);
    line-height: 28px;
    color: $basecolor;
  }
  ul {
    padding: 0px;
    margin: 0;
    li.delimiter {
      display: none;
    }
    li {
      padding: $horz-spacing-unit/2 0;
      span.separator {
        display: block;
        padding: $vert-spacing-unit/2 0;
        hr {
          display: none;
        }
      }
      a {
        color: $white;
        list-style: none;
        list-style-image: none;
        @include font-size(18px);
        text-decoration: none;
        &:hover {
          color: darken($basecolor, 5%);
        }
      }
    }
    li.last {
      border: none;
    }
    li.leaf {
      list-style-image: none;
      list-style-type: none;
    }
  }

}

@include breakpoint($tab, true) {
  .footer-1,
  .footer-2,
  .footer-3,
  .footer-4{
    width: 25%;
    float: left;
  }

}